h1 {
  font-weight: 900;
  font-size: 40px;

  background: linear-gradient(to top, #33a8db, #1472b7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h2 {
  color: #33a8db;
  font-weight: 700;
  font-size: 32px;
}

p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

h3 {
  background-color: #252525;
  border: 1px solid #33a8db;
  padding: 16px 127px;
  color: #fff;
  font-weight: 400;
  border-radius: 57px;
  width: 535px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 100%;
  box-shadow: inset -2px 6px 4px rgba(0, 0, 0, 0.4);
  white-space: nowrap;
}

h4 {
  font-weight: 900;
  font-size: 40px;
  color: #fff;
  width: 244px;
  filter: drop-shadow(3px 2px 0 #33a8db);
}

a {
  color: #33a8db;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}
